<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drawablestylesdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.codepath.example.drawablestylesdemo.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codepath.example.drawablestylesdemo.activities.BasicDrawableActivity"
            android:label="@string/title_activity_view_style" >
        </activity>
        <activity
            android:name="com.codepath.example.drawablestylesdemo.activities.LayerListActivity"
            android:label="@string/title_activity_layer_list" >
        </activity>
        <activity
            android:name="com.codepath.example.drawablestylesdemo.activities.NinePatchActivity"
            android:label="@string/title_activity_nine_path" >
        </activity>
        <activity
            android:name="com.codepath.example.drawablestylesdemo.activities.StylesActivity"
            android:label="@string/title_activity_styles" >
        </activity>
        <activity
             android:name="com.codepath.example.drawablestylesdemo.activities.ThemesActivity"
             android:theme="@style/SpecialActivityTheme"
             android:label="@string/title_activity_themes" >
        </activity>
    </application>

</manifest>
